<ion-header>
  <ion-toolbar>
    <ion-title>
      VoCal Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        <ion-col >
          <span class="divider line one-line">Sign In with </span>
          <ion-button [routerLink]="['/login']" expand="block"> Google</ion-button>
          <br>
          <ion-button [routerLink]="['/login']" expand="block">Facebook</ion-button>
        </ion-col>
        
        <span class="divider line one-line">or</span>

        <ion-item>
          <ion-label>Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      
    
        <br><br>
        <ion-button (click)="login()" expand="block" color="danger">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>