<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Your Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="height: 100%;">

    <ion-calendar [(ngModel)]="date"
      (onChange)="onChange($event)"
      [type]="type"
      [format]="'YYYY-MM-DD'"
      >
    </ion-calendar>

</ion-content>