<ion-header>
  <ion-toolbar>
    <ion-title>
      VoCal Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <br><br><br>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>

        <ion-item>
          <ion-label>Email Address</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>

        <span class="divider line one-line">or</span>
        <br>

        <ion-button [routerLink]="['/login']" expand="block">Sign Up with Google</ion-button>
        <br>

        <ion-button [routerLink]="['/login']" expand="block">Sign Up with Facebook</ion-button>
    
        <br><br>
        <ion-button (click)="register()" expand="block">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>